@tailwind base;
@tailwind components;
@tailwind utilities;

.directory-divide-y > li:not(:last-child):after {
  content: '';
  display: block;
  width: calc(100% - 24px);
  transform: translateX(24px);
  height: 1px;
  background: #333333;
}

@layer utilities {
  .overflow-hidden {
    -webkit-mask-image: -webkit-radial-gradient(white, black);
  }
}
/* Dark mode */
@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

/* System mode class */
@layer utilities {
  .system {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    /* Other custom variables for system mode */
  }

  .system:bg-black {
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity));
  }

  .system\:text-white {
    color: white;
  }
}



/* Apply system styles conditionally */
/* body.system {
  @apply system:bg-black system:text-white;
} */


@keyframes move-x {
  0% {
    transform: translateX(var(--move-x-from));
  }
  100% {
    transform: translateX(var(--move-x-to));
  }
}

@media (min-width: 768px) {
  .company-logo .company-logo-line-two {
    font-size: 27px !important;
  }
}
:root {
  --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 72.22% 50.59%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 5% 64.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
}
.fill-primary {
  fill: hsl(var(--primary));
}
.company-logo .company-logo-line-two {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: var(--cp-font-family-header);
  text-transform: uppercase;
  font-size: 20px;
  color: #1b1a1a;
}
@media (min-width: 768px) {
  .company-logo .company-logo-line-three {
    font-size: 14.5px !important;
  }
}
.company-logo .company-logo-line-three {
  font-size: 12px;
  color: #1b1a1a;
}
.border-dashed {
  border-style: dashed;
}
/* [data-radix-popper-content-wrapper] */
/* .data-\[-radix\-popper\--content\-wrapper\] { */

/* .data-\[state\=open\]\:zoom-in-95[data-state="open"] {
  position: absolute;
  left: 0px;
  top: 0px;
  min-height: 100vh;
  transform: translate(456px, 441.5px);
  min-width: max-content;
  transform: translate(217px, 441.5px) !important;
  will-change: transform;
  z-index: 50;
  --radix-popper-available-width: 776px;
  --radix-popper-available-height: 565.5px;
  --radix-popper-anchor-width: 126.65625px;
  --radix-popper-anchor-height: 40px;
} */
/* ------------------ INPUTS & AUTH BUTTONS -------------------- */
.content-wrapper{display:flex;flex-direction:column;align-items:center;justify-content:center;width:100%;height:auto;white-space:normal;border-radius:5px;position:relative;grid-area:center;box-shadow:none;vertical-align:baseline;box-sizing:content-box;}
.login-container{
  /* background-color:#fff; */
  padding:0 40px 40px;border-radius:3px;box-shadow:none;width:320px;box-sizing:content-box;flex-shrink:0;}
.title-wrapper{padding:40px 40px 24px;box-sizing:content-box;}
.title{font-size:32px;font:"Söhne";margin:24px 0 0;color:#2d333a;width:320px;text-align:center;}
.input-wrapper{
  position:relative;margin-bottom:25px;width:320px;
  box-sizing:content-box;
  margin-top: 12px;
}
.email-input{-webkit-appearance:none;-moz-appearance:none;appearance:none;background-color:#fff;border:1px solid #c2c8d0;border-radius:6px;box-sizing:border-box;color:#2d333a;font-family:inherit;font-size:16px;height:52px;line-height:1.1;outline:none;padding-block:1px;padding-inline:2px;padding:0 16px;transition:box-shadow .2s ease-in-out,border-color .2s ease-in-out;width:100%;text-rendering:auto;letter-spacing:normal;word-spacing:normal;text-transform:none;text-indent:0;text-shadow:none;display:inline-block;text-align:start;margin:0;}
.email-input:focus,.email-input:valid{
  border:1px solid #10a37f;
  outline:none;
}
.email-input:focus+.email-label{font-size:14px;top:0;left:10px;
  color:var(--leo-color-pink-10);
  background-color:#fff;
}
.email-label{position:absolute;top:26px;left:16px;background-color:#fff;color:#6f7780;font-size:16px;font-weight:400;margin-bottom:8px;max-width:90%;overflow:hidden;pointer-events:none;padding:1px 6px;text-overflow:ellipsis;transform:translateY(-50%);transform-origin:0;transition:transform .15s ease-in-out,top .15s ease-in-out,padding .15s ease-in-out;white-space:nowrap;z-index:1;}
.invalid-email-error-message{color:#d00e17;display:none;margin:4px 0 12px;font-size:12px;}
.continue-btn{
  display:flex;align-items:center;justify-content:center;
  position:relative;height:52px;width:320px;
  /* background-color:#10a37f; */
  color:#fff;margin:24px 0 0;border-radius:6px;padding:4px 16px;font:inherit;border-width:0;cursor:pointer;}
.continue-btn:hover{box-shadow:inset 0 0 0 150px #0000001a;}
.other-page{text-align:center;margin-top:16px;margin-bottom:0;font-size:14px;width:320px;}
.other-page-link{padding:4px;}
.divider-wrapper{display:flex;flex-direction:row;text-transform:uppercase;border:none;font-size:12px;font-weight:400;margin:0;padding:24px 0 0;align-items:center;justify-content:center;width:320px;vertical-align:baseline;}
.divider-wrapper:before,.divider-wrapper:after{content:"";border-bottom:1px solid #c2c8d0;flex:1 0 auto;height:.5em;margin:0;}
.divider{text-align:center;flex:.2 0 auto;margin:0;height:12px;}
.social-section{margin-top:24px;}
.social-btn{position:relative;width:320px;border:1px solid #c2c8d0;border-radius:6px;font-size:16px;align-items:center;background-color:#fff;height:52px;transition:box-shadow .15 ease-in-out,background-color .15s ease-in-out;cursor:pointer;color:#2d333a;margin-bottom:8px;display:flex;outline:0;}
.social-btn{padding:0 8px 0 52px;}
.social-btn:hover{box-shadow:inset 0 0 0 150px #0000001a;}
.social-btn:focus{outline:none;}
.social-logo-wrapper{position:absolute;left:26px;top:50%;transform:translate(-50%) translateY(-50%);}
.social-logo{width:20px;height:20px;display:inline-block;}
.error-icon{display:inline-block;height:16px;width:16px;margin-right:8px;flex-shrink:0;background-position:0 0;background-repeat:no-repeat;background-size:16px;}
.social-text{text-align:left;position:relative;}
/* --------------- INPUTS & AUTH BUTTONS END-------------------- */
.ring-indigo-500 {
  --tw-ring-opacity: 1;
  --tw-ring-color: rgb(99 102 241 / var(--tw-ring-opacity));
}

.ring-1 {
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color) !important;
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(1px + var(--tw-ring-offset-width)) var(--tw-ring-color) !important;
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000) !important;
}

/* CATALYST STYLE  */
@media (prefers-color-scheme: dark) {
  .dark\:text-white {
      --tw-text-opacity: 1;
      color: rgb(255 255 255 / var(--tw-text-opacity));
  }
}
.system\:bg-black:is(.system *) {
  --tw-bg-opacity: 1;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}


@media (min-width: 640px) {
  .sm\:text-sm\/6 {
      font-size: .875rem;
      line-height: 1.5rem;
  }
}
@media (min-width: 640px) {
  .sm\:py-1\.5 {
      padding-top: .375rem;
      padding-bottom: .375rem;
  }
}
@media (min-width: 640px) {
  .sm\:px-3 {
      padding-left: .75rem;
      padding-right: .75rem;
  }
}
@supports (grid-template-columns:subgrid) {
  .supports-\[grid-template-columns\:subgrid\]\:grid-cols-subgrid {
      grid-template-columns: subgrid;
  }
}
.forced-color-adjust-none {
  forced-color-adjust: none;
}
.text-zinc-950 {
  --tw-text-opacity: 1;
  color: rgb(9 9 11 / var(--tw-text-opacity));
}
.text-base\/6 {
  font-size: 1rem;
  line-height: 1.5rem;
}
.text-left {
  text-align: left;
}
.py-2\.5 {
  padding-top: .625rem;
  padding-bottom: .625rem;
}
.px-3\.5 {
  padding-left: .875rem;
  padding-right: .875rem;
}
.rounded-lg {
  border-radius: .5rem;
}
.items-center {
  align-items: center;
}
.grid-cols-\[auto_1fr_1\.5rem_0\.5rem_auto\] {
  grid-template-columns: auto 1fr 1.5rem .5rem auto;
}
.cursor-default {
  cursor: default;
}
.grid {
  display: grid;
}
.col-span-full {
  grid-column: 1 / -1;
}

@media (prefers-color-scheme: dark) {
  .\[\&\>\[data-slot\=icon\]\]\:dark\:text-zinc-400>[data-slot=icon], .dark\:\[\&\>\[data-slot\=icon\]\]\:text-zinc-400>[data-slot=icon] {
      --tw-text-opacity: 1;
      color: rgb(161 161 170 / var(--tw-text-opacity));
  }
}

@media (min-width: 640px) {
  .\[\&\>\[data-slot\=icon\]\]\:sm\:size-4>[data-slot=icon], .sm\:\[\&\>\[data-slot\=icon\]\]\:size-4>[data-slot=icon] {
      width: 1rem;
      height: 1rem;
  }
}
@media (min-width: 640px) {
  .sm\:\[\&\>\[data-slot\=icon\]\]\:mr-2>[data-slot=icon] {
      margin-right: .5rem;
  }
}
.\[\&\>\[data-slot\=icon\]\]\:text-zinc-500>[data-slot=icon] {
  --tw-text-opacity: 1;
  color: rgb(113 113 122 / var(--tw-text-opacity));
}
.\[\&\>\[data-slot\=icon\]\]\:size-5>[data-slot=icon] {
  width: 1.25rem;
  height: 1.25rem;
}
.\[\&\>\[data-slot\=icon\]\]\:mr-2\.5>[data-slot=icon] {
  margin-right: .625rem;
}
.\[\&\>\[data-slot\=icon\]\]\:-ml-0\.5>[data-slot=icon] {
  margin-left: -.125rem;
}
.\[\&\>\[data-slot\=icon\]\]\:row-start-1>[data-slot=icon] {
  grid-row-start: 1;
}
.\[\&\>\[data-slot\=icon\]\]\:col-start-1>[data-slot=icon] {
  grid-column-start: 1;
}



.shadow, .shadow-lg {
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow) !important;
}

.shadow {
  --tw-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px -1px rgba(0,0,0,.1) !important;
  --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color) !important;
}
.text-card-foreground {
  color: hsl(var(--card-foreground)) !important;
}
.bg-card {
  background-color: hsl(var(--card));
}
.border {
  border-width: 1px;
}
.rounded-xl {
  border-radius: calc(var(--radius) + 4px);
}

/* VERCEL  */
:root {
    --ds-gray-100: hsla(var(--ds-gray-100-value),1);
    --ds-gray-200: hsla(var(--ds-gray-200-value),1);
    --ds-gray-300: hsla(var(--ds-gray-300-value),1);
    --ds-gray-400: hsla(var(--ds-gray-400-value),1);
    --ds-gray-500: hsla(var(--ds-gray-500-value),1);
    --ds-gray-600: hsla(var(--ds-gray-600-value),1);
    --ds-gray-700: hsla(var(--ds-gray-700-value),1);
    --ds-gray-800: hsla(var(--ds-gray-800-value),1);
    --ds-gray-900: hsla(var(--ds-gray-900-value),1);
    --ds-gray-1000: #ededed;
    --ds-blue-100: hsla(var(--ds-blue-100-value),1);
    --ds-blue-200: hsla(var(--ds-blue-200-value),1);
    --ds-blue-300: hsla(var(--ds-blue-300-value),1);
    --ds-blue-400: hsla(var(--ds-blue-400-value),1);
    --ds-blue-500: hsla(var(--ds-blue-500-value),1);
    --ds-blue-600: hsla(var(--ds-blue-600-value),1);
    --ds-blue-700: hsla(var(--ds-blue-700-value),1);
    --ds-blue-800: hsla(var(--ds-blue-800-value),1);
    --ds-blue-900: hsla(var(--ds-blue-900-value),1);
    --ds-blue-1000: hsla(var(--ds-blue-1000-value),1);
    --ds-amber-100: hsla(var(--ds-amber-100-value),1);
    --ds-amber-200: hsla(var(--ds-amber-200-value),1);
    --ds-amber-300: hsla(var(--ds-amber-300-value),1);
    --ds-amber-400: hsla(var(--ds-amber-400-value),1);
    --ds-amber-500: hsla(var(--ds-amber-500-value),1);
    --ds-amber-600: hsla(var(--ds-amber-600-value),1);
    --ds-amber-700: hsla(var(--ds-amber-700-value),1);
    --ds-amber-800: hsla(var(--ds-amber-800-value),1);
    --ds-amber-900: hsla(var(--ds-amber-900-value),1);
    --ds-amber-1000: hsla(var(--ds-amber-1000-value),1);
    --ds-red-100: hsla(var(--ds-red-100-value),1);
    --ds-red-200: hsla(var(--ds-red-200-value),1);
    --ds-red-300: hsla(var(--ds-red-300-value),1);
    --ds-red-400: hsla(var(--ds-red-400-value),1);
    --ds-red-500: hsla(var(--ds-red-500-value),1);
    --ds-red-600: hsla(var(--ds-red-600-value),1);
    --ds-red-700: hsla(var(--ds-red-700-value),1);
    --ds-red-800: hsla(var(--ds-red-800-value),1);
    --ds-red-900: hsla(var(--ds-red-900-value),1);
    --ds-red-1000: hsla(var(--ds-red-1000-value),1);
    --ds-green-100: hsla(var(--ds-green-100-value),1);
    --ds-green-200: hsla(var(--ds-green-200-value),1);
    --ds-green-300: hsla(var(--ds-green-300-value),1);
    --ds-green-400: hsla(var(--ds-green-400-value),1);
    --ds-green-500: hsla(var(--ds-green-500-value),1);
    --ds-green-600: hsla(var(--ds-green-600-value),1);
    --ds-green-700: hsla(var(--ds-green-700-value),1);
    --ds-green-800: hsla(var(--ds-green-800-value),1);
    --ds-green-900: hsla(var(--ds-green-900-value),1);
    --ds-green-1000: hsla(var(--ds-green-1000-value),1);
    --ds-teal-100: hsla(var(--ds-teal-100-value),1);
    --ds-teal-200: hsla(var(--ds-teal-200-value),1);
    --ds-teal-300: hsla(var(--ds-teal-300-value),1);
    --ds-teal-400: hsla(var(--ds-teal-400-value),1);
    --ds-teal-500: hsla(var(--ds-teal-500-value),1);
    --ds-teal-600: hsla(var(--ds-teal-600-value),1);
    --ds-teal-700: hsla(var(--ds-teal-700-value),1);
    --ds-teal-800: hsla(var(--ds-teal-800-value),1);
    --ds-teal-900: hsla(var(--ds-teal-900-value),1);
    --ds-teal-1000: hsla(var(--ds-teal-1000-value),1);
    --ds-purple-100: hsla(var(--ds-purple-100-value),1);
    --ds-purple-200: hsla(var(--ds-purple-200-value),1);
    --ds-purple-300: hsla(var(--ds-purple-300-value),1);
    --ds-purple-400: hsla(var(--ds-purple-400-value),1);
    --ds-purple-500: hsla(var(--ds-purple-500-value),1);
    --ds-purple-600: hsla(var(--ds-purple-600-value),1);
    --ds-purple-700: hsla(var(--ds-purple-700-value),1);
    --ds-purple-800: hsla(var(--ds-purple-800-value),1);
    --ds-purple-900: hsla(var(--ds-purple-900-value),1);
    --ds-purple-1000: hsla(var(--ds-purple-1000-value),1);
    --ds-pink-100: hsla(var(--ds-pink-100-value),1);
    --ds-pink-200: hsla(var(--ds-pink-200-value),1);
    --ds-pink-300: hsla(var(--ds-pink-300-value),1);
    --ds-pink-400: hsla(var(--ds-pink-400-value),1);
    --ds-pink-500: hsla(var(--ds-pink-500-value),1);
    --ds-pink-600: hsla(var(--ds-pink-600-value),1);
    --ds-pink-700: hsla(var(--ds-pink-700-value),1);
    --ds-pink-800: hsla(var(--ds-pink-800-value),1);
    --ds-pink-900: hsla(var(--ds-pink-900-value),1);
    --ds-pink-1000: hsla(var(--ds-pink-1000-value),1);
}

@media (prefers-color-scheme: system) {
  :root {
      --foreground-rgb: 255, 255, 255;
      --background-start-rgb: 0, 0, 0;
      --background-end-rgb: 0, 0, 0;
  }
}

@media (color-gamut: p3) {
  @supports (color:oklch(0 0 0)) {
      .system, .system-theme, .invert-theme {
          --ds-blue-100: oklch(22.17% 0.069 259.89);
          --ds-blue-200: oklch(25.45% 0.0811 255.8);
          --ds-blue-300: oklch(30.86% 0.1022 255.21);
          --ds-blue-400: oklch(34.1% 0.121 254.74);
          --ds-blue-500: oklch(38.5% 0.1403 254.4);
          --ds-blue-600: oklch(64.94% 0.1982 251.8131841760864);
          --ds-blue-700: oklch(57.61% 0.2321 258.23);
          --ds-blue-800: oklch(51.51% 0.2307 257.85);
          --ds-blue-900: oklch(71.7% 0.1648 250.79360374054167);
          --ds-blue-1000: oklch(96.75% 0.0179 242.4234217368056);
          --ds-red-100: oklch(22.1% 0.0657 15.11);
          --ds-red-200: oklch(25.93% 0.0834 19.02);
          --ds-red-300: oklch(31.47% 0.1105 20.96);
          --ds-red-400: oklch(35.27% 0.1273 21.23);
          --ds-red-500: oklch(40.68% 0.1479 23.16);
          --ds-red-600: oklch(62.56% 0.2277 23.03);
          --ds-red-700: oklch(62.56% 0.2234 23.03);
          --ds-red-800: oklch(58.01% 0.227 25.12);
          --ds-red-900: oklch(69.96% 0.2136 22.03);
          --ds-red-1000: oklch(95.6% 0.0293 6.61);
          --ds-amber-100: oklch(22.46% 0.0538 76.04);
          --ds-amber-200: oklch(24.95% 0.0642 64.78);
          --ds-amber-300: oklch(32.34% 0.0837 63.83);
          --ds-amber-400: oklch(35.53% 0.0903 66.29707162673735);
          --ds-amber-500: oklch(41.55% 0.1044 67.98);
          --ds-amber-600: oklch(75.04% 0.1737 74.49);
          --ds-amber-700: oklch(81.87% 0.1969 76.46);
          --ds-amber-800: oklch(77.21% 0.1991 64.28);
          --ds-amber-900: oklch(77.21% 0.1991 64.28);
          --ds-amber-1000: oklch(96.7% 0.0418 84.59);
          --ds-green-100: oklch(23.09% 0.0716 149.68);
          --ds-green-200: oklch(27.12% 0.0895 150.09);
          --ds-green-300: oklch(29.84% 0.096 149.25);
          --ds-green-400: oklch(34.39% 0.1039 147.78);
          --ds-green-500: oklch(44.19% 0.1484 147.2);
          --ds-green-600: oklch(58.11% 0.1815 146.55);
          --ds-green-700: oklch(64.58% 0.199 147.27);
          --ds-green-800: oklch(57.81% 0.1776 147.5);
          --ds-green-900: oklch(73.1% 0.2158 148.29);
          --ds-green-1000: oklch(96.76% 0.056 154.18);
          --ds-teal-100: oklch(22.1% 0.0544 178.74);
          --ds-teal-200: oklch(25.06% 0.062 178.76);
          --ds-teal-300: oklch(31.5% 0.0767 180.99);
          --ds-teal-400: oklch(32.43% 0.0763 180.13);
          --ds-teal-500: oklch(43.35% 0.1055 180.97);
          --ds-teal-600: oklch(60.71% 0.1485 180.24);
          --ds-teal-700: oklch(64.92% 0.1403 181.95);
          --ds-teal-800: oklch(57.53% 0.1392 181.66);
          --ds-teal-900: oklch(74.56% 0.1765 182.8);
          --ds-teal-1000: oklch(96.46% 0.056 180.29);

      }
  }
}

@media (color-gamut: p3) {
  @supports (color:oklch(0 0 0)) {
      .dark .invert-theme, .dark-theme .invert-theme, :host, :root {
          --ds-blue-100: oklch(97.32% 0.0141 251.56);
          --ds-blue-200: oklch(96.29% 0.0195 250.59);
          --ds-blue-300: oklch(94.58% 0.0293 249.84870859673202);
          --ds-blue-400: oklch(91.58% 0.0473 245.11621922481282);
          --ds-blue-500: oklch(82.75% 0.0979 248.48);
          --ds-blue-600: oklch(73.08% 0.1583 248.133320980386);
          --ds-blue-700: oklch(57.61% 0.2508 258.23);
          --ds-blue-800: oklch(51.51% 0.2399 257.85);
          --ds-blue-900: oklch(53.18% 0.2399 256.9900584162342);
          --ds-blue-1000: oklch(26.67% 0.1099 254.34);
          --ds-red-100: oklch(96.5% 0.0223 13.09);
          --ds-red-200: oklch(95.41% 0.0299 14.252646656611997);
          --ds-red-300: oklch(94.33% 0.0369 15.011509923860523);
          --ds-red-400: oklch(91.51% 0.0471 19.8);
          --ds-red-500: oklch(84.47% 0.1018 17.71);
          --ds-red-600: oklch(71.12% 0.1881 21.22);
          --ds-red-700: oklch(62.56% 0.2524 23.03);
          --ds-red-800: oklch(58.19% 0.2482 25.15);
          --ds-red-900: oklch(54.99% 0.232 25.29);
          --ds-red-1000: oklch(24.8% 0.1041 18.86);
          --ds-amber-100: oklch(97.48% 0.0331 85.79);
          --ds-amber-200: oklch(96.81% 0.0495 90.24227879900472);
          --ds-amber-300: oklch(95.93% 0.0636 90.52);
          --ds-amber-400: oklch(91.02% 0.1322 88.25);
          --ds-amber-500: oklch(86.55% 0.1583 79.63);
          --ds-amber-600: oklch(80.25% 0.1953 73.59);
          --ds-amber-700: oklch(81.87% 0.1969 76.46);
          --ds-amber-800: oklch(77.21% 0.1991 64.28);
          --ds-amber-900: oklch(52.79% 0.1496 54.65);
          --ds-amber-1000: oklch(30.83% 0.099 45.48);
          --ds-green-100: oklch(97.59% 0.0289 145.42);
          --ds-green-200: oklch(96.92% 0.037 147.15);
          --ds-green-300: oklch(94.6% 0.0674 144.23);
          --ds-green-400: oklch(91.49% 0.0976 146.24);
          --ds-green-500: oklch(85.45% 0.1627 146.3);
          --ds-green-600: oklch(80.25% 0.214 145.18);
          --ds-green-700: oklch(64.58% 0.1746 147.27);
          --ds-green-800: oklch(57.81% 0.1507 147.5);
          --ds-green-900: oklch(51.75% 0.1453 147.65);
          --ds-green-1000: oklch(29.15% 0.1197 147.38);
          --ds-teal-100: oklch(97.72% 0.0359 186.7);
          --ds-teal-200: oklch(97.06% 0.0347 180.66);
          --ds-teal-300: oklch(94.92% 0.0478 182.07);
          --ds-teal-400: oklch(92.76% 0.0718 183.78);
          --ds-teal-500: oklch(86.88% 0.1344 182.42);
          --ds-teal-600: oklch(81.5% 0.161 178.96);
          --ds-teal-700: oklch(64.92% 0.1572 181.95);
          --ds-teal-800: oklch(57.53% 0.1392 181.66);
          --ds-teal-900: oklch(52.08% 0.1251 182.93);
          --ds-teal-1000: oklch(32.11% 0.0788 179.82);

      }
  }
}
.dark, .dark-theme, .invert-theme {
  --ds-gray-100-value: 0, 0%, 10%;
  --ds-gray-200-value: 0, 0%, 12%;
  --ds-gray-300-value: 0, 0%, 16%;
  --ds-gray-400-value: 0, 0%, 18%;
  --ds-gray-500-value: 0, 0%, 27%;
  --ds-gray-600-value: 0, 0%, 53%;
  --ds-gray-700-value: 0, 0%, 56%;
  --ds-gray-800-value: 0, 0%, 49%;
  --ds-gray-900-value: 0, 0%, 63%;
  --ds-gray-1000-value: 0, 0%, 93%;
  --ds-blue-100-value: 216, 50%, 12%;
  --ds-blue-200-value: 214, 59%, 15%;
  --ds-blue-300-value: 213, 71%, 20%;
  --ds-blue-400-value: 212, 78%, 23%;
  --ds-blue-500-value: 211, 86%, 27%;
  --ds-blue-600-value: 206, 100%, 50%;
  --ds-blue-700-value: 212, 100%, 48%;
  --ds-blue-800-value: 212, 100%, 41%;
  --ds-blue-900-value: 210, 100%, 66%;
  --ds-blue-1000-value: 206, 100%, 96%;
  --ds-red-100-value: 357, 37%, 12%;
  --ds-red-200-value: 357, 46%, 16%;
  --ds-red-300-value: 356, 54%, 22%;
  --ds-red-400-value: 357, 55%, 26%;
  --ds-red-500-value: 357, 60%, 32%;
  --ds-red-600-value: 358, 75%, 59%;
  --ds-red-700-value: 358, 75%, 59%;
  --ds-red-800-value: 358, 69%, 52%;
  --ds-red-900-value: 358, 100%, 69%;
  --ds-red-1000-value: 353, 90%, 96%;
  --ds-amber-100-value: 35, 100%, 8%;
  --ds-amber-200-value: 32, 100%, 10%;
  --ds-amber-300-value: 33, 100%, 15%;
  --ds-amber-400-value: 35, 100%, 17%;
  --ds-amber-500-value: 35, 91%, 22%;
  --ds-amber-600-value: 39, 85%, 49%;
  --ds-amber-700-value: 39, 100%, 57%;
  --ds-amber-800-value: 35, 100%, 52%;
  --ds-amber-900-value: 39, 90%, 50%;
  --ds-amber-1000-value: 40, 94%, 93%;
  --ds-green-100-value: 136, 50%, 9%;
  --ds-green-200-value: 137, 50%, 12%;
  --ds-green-300-value: 136, 50%, 14%;
  --ds-green-400-value: 135, 70%, 16%;
  --ds-green-500-value: 135, 70%, 23%;
  --ds-green-600-value: 135, 70%, 34%;
  --ds-green-700-value: 131, 41%, 46%;
  --ds-green-800-value: 132, 43%, 39%;
  --ds-green-900-value: 131, 43%, 57%;
  --ds-green-1000-value: 136, 73%, 94%;
  --ds-teal-100-value: 169, 78%, 7%;
  --ds-teal-200-value: 170, 74%, 9%;
  --ds-teal-300-value: 171, 75%, 13%;
  --ds-teal-400-value: 171, 85%, 13%;
  --ds-teal-500-value: 172, 85%, 20%;
  --ds-teal-600-value: 172, 85%, 32%;
  --ds-teal-700-value: 173, 80%, 36%;
  --ds-teal-800-value: 173, 83%, 30%;
  --ds-teal-900-value: 174, 90%, 41%;
  --ds-teal-1000-value: 166, 71%, 93%;
  --ds-purple-100-value: 283, 30%, 12%;
  --ds-purple-200-value: 281, 38%, 16%;
  --ds-purple-300-value: 279, 44%, 23%;
  --ds-purple-400-value: 277, 46%, 28%;
  --ds-purple-500-value: 274, 49%, 35%;
  --ds-purple-600-value: 272, 51%, 54%;
  --ds-purple-700-value: 272, 51%, 54%;
  --ds-purple-800-value: 272, 47%, 45%;
  --ds-purple-900-value: 275, 80%, 71%;
  --ds-purple-1000-value: 281, 73%, 96%;
  --ds-pink-100-value: 335, 32%, 12%;
  --ds-pink-200-value: 335, 43%, 16%;
  --ds-pink-300-value: 335, 47%, 21%;
  --ds-pink-400-value: 335, 51%, 22%;
  --ds-pink-500-value: 335, 57%, 27%;
  --ds-pink-600-value: 336, 75%, 40%;
  --ds-pink-700-value: 336, 80%, 58%;
  --ds-pink-800-value: 336, 74%, 51%;
  --ds-pink-900-value: 341, 90%, 67%;
  --ds-pink-1000-value: 333, 90%, 96%;
  --ds-gray-alpha-100: hsla(0,0%,100%,.06);
  --ds-gray-alpha-200: hsla(0,0%,100%,.09);
  --ds-gray-alpha-300: hsla(0,0%,100%,.13);
  --ds-gray-alpha-400: hsla(0,0%,100%,.14);
  --ds-gray-alpha-500: hsla(0,0%,100%,.24);
  --ds-gray-alpha-600: hsla(0,0%,100%,.51);
  --ds-gray-alpha-700: hsla(0,0%,100%,.54);
  --ds-gray-alpha-800: hsla(0,0%,100%,.47);
  --ds-gray-alpha-900: hsla(0,0%,100%,.61);
  --ds-gray-alpha-1000: hsla(0,0%,100%,.92);
  --ds-background-100: #0a0a0a;
  --ds-background-200: #000;
  --ds-focus-border: 0 0 0 1px var(--ds-gray-alpha-600), 0px 0px 0px 4px hsla(0,0%,100%,.24);
  --ds-focus-color: var(--ds-blue-900);
  --ds-shadow-border-inset: inset 0 0 0 1px hsla(0,0%,100%,.1);
}

.system, .sytem-theme, .invert-theme {
  --ds-gray-100-value: 0, 0%, 10%;
  --ds-gray-200-value: 0, 0%, 12%;
  --ds-gray-300-value: 0, 0%, 16%;
  --ds-gray-400-value: 0, 0%, 18%;
  --ds-gray-500-value: 0, 0%, 27%;
  --ds-gray-600-value: 0, 0%, 53%;
  --ds-gray-700-value: 0, 0%, 56%;
  --ds-gray-800-value: 0, 0%, 49%;
  --ds-gray-900-value: 0, 0%, 63%;
  --ds-gray-1000-value: 0, 0%, 93%;
  --ds-blue-100-value: 216, 50%, 12%;
  --ds-blue-200-value: 214, 59%, 15%;
  --ds-blue-300-value: 213, 71%, 20%;
  --ds-blue-400-value: 212, 78%, 23%;
  --ds-blue-500-value: 211, 86%, 27%;
  --ds-blue-600-value: 206, 100%, 50%;
  --ds-blue-700-value: 212, 100%, 48%;
  --ds-blue-800-value: 212, 100%, 41%;
  --ds-blue-900-value: 210, 100%, 66%;
  --ds-blue-1000-value: 206, 100%, 96%;
  --ds-red-100-value: 357, 37%, 12%;
  --ds-red-200-value: 357, 46%, 16%;
  --ds-red-300-value: 356, 54%, 22%;
  --ds-red-400-value: 357, 55%, 26%;
  --ds-red-500-value: 357, 60%, 32%;
  --ds-red-600-value: 358, 75%, 59%;
  --ds-red-700-value: 358, 75%, 59%;
  --ds-red-800-value: 358, 69%, 52%;
  --ds-red-900-value: 358, 100%, 69%;
  --ds-red-1000-value: 353, 90%, 96%;
  --ds-amber-100-value: 35, 100%, 8%;
  --ds-amber-200-value: 32, 100%, 10%;
  --ds-amber-300-value: 33, 100%, 15%;
  --ds-amber-400-value: 35, 100%, 17%;
  --ds-amber-500-value: 35, 91%, 22%;
  --ds-amber-600-value: 39, 85%, 49%;
  --ds-amber-700-value: 39, 100%, 57%;
  --ds-amber-800-value: 35, 100%, 52%;
  --ds-amber-900-value: 39, 90%, 50%;
  --ds-amber-1000-value: 40, 94%, 93%;
  --ds-green-100-value: 136, 50%, 9%;
  --ds-green-200-value: 137, 50%, 12%;
  --ds-green-300-value: 136, 50%, 14%;
  --ds-green-400-value: 135, 70%, 16%;
  --ds-green-500-value: 135, 70%, 23%;
  --ds-green-600-value: 135, 70%, 34%;
  --ds-green-700-value: 131, 41%, 46%;
  --ds-green-800-value: 132, 43%, 39%;
  --ds-green-900-value: 131, 43%, 57%;
  --ds-green-1000-value: 136, 73%, 94%;
  --ds-teal-100-value: 169, 78%, 7%;
  --ds-teal-200-value: 170, 74%, 9%;
  --ds-teal-300-value: 171, 75%, 13%;
  --ds-teal-400-value: 171, 85%, 13%;
  --ds-teal-500-value: 172, 85%, 20%;
  --ds-teal-600-value: 172, 85%, 32%;
  --ds-teal-700-value: 173, 80%, 36%;
  --ds-teal-800-value: 173, 83%, 30%;
  --ds-teal-900-value: 174, 90%, 41%;
  --ds-teal-1000-value: 166, 71%, 93%;
  --ds-purple-100-value: 283, 30%, 12%;
  --ds-purple-200-value: 281, 38%, 16%;
  --ds-purple-300-value: 279, 44%, 23%;
  --ds-purple-400-value: 277, 46%, 28%;
  --ds-purple-500-value: 274, 49%, 35%;
  --ds-purple-600-value: 272, 51%, 54%;
  --ds-purple-700-value: 272, 51%, 54%;
  --ds-purple-800-value: 272, 47%, 45%;
  --ds-purple-900-value: 275, 80%, 71%;
  --ds-purple-1000-value: 281, 73%, 96%;
  --ds-pink-100-value: 335, 32%, 12%;
  --ds-pink-200-value: 335, 43%, 16%;
  --ds-pink-300-value: 335, 47%, 21%;
  --ds-pink-400-value: 335, 51%, 22%;
  --ds-pink-500-value: 335, 57%, 27%;
  --ds-pink-600-value: 336, 75%, 40%;
  --ds-pink-700-value: 336, 80%, 58%;
  --ds-pink-800-value: 336, 74%, 51%;
  --ds-pink-900-value: 341, 90%, 67%;
  --ds-pink-1000-value: 333, 90%, 96%;
  --ds-gray-alpha-100: hsla(0,0%,100%,.06);
  --ds-gray-alpha-200: hsla(0,0%,100%,.09);
  --ds-gray-alpha-300: hsla(0,0%,100%,.13);
  --ds-gray-alpha-400: hsla(0,0%,100%,.14);
  --ds-gray-alpha-500: hsla(0,0%,100%,.24);
  --ds-gray-alpha-600: hsla(0,0%,100%,.51);
  --ds-gray-alpha-700: hsla(0,0%,100%,.54);
  --ds-gray-alpha-800: hsla(0,0%,100%,.47);
  --ds-gray-alpha-900: hsla(0,0%,100%,.61);
  --ds-gray-alpha-1000: hsla(0,0%,100%,.92);
  --ds-background-100: #0a0a0a;
  --ds-background-200: #000;
  --ds-focus-border: 0 0 0 1px var(--ds-gray-alpha-600), 0px 0px 0px 4px hsla(0,0%,100%,.24);
  --ds-focus-color: var(--ds-blue-900);
  --ds-shadow-border-inset: inset 0 0 0 1px hsla(0,0%,100%,.1);
}
.dark, .dark-theme, .dark-theme .geist-disabled .geist-disabled-skip, .invert-theme {
  --geist-foreground: #fff;
  --geist-background: #000;
  --accents-8: #fafafa;
  --accents-7: #eaeaea;
  --accents-6: #999;
  --accents-5: #888;
  --accents-4: #666;
  --accents-3: #444;
  --accents-2: #333;
  --accents-1: #111;
  --geist-secondary-lighter: var(--accents-2);
  --geist-secondary-light: var(--accents-3);
  --geist-secondary: var(--accents-5);
  --geist-secondary-dark: var(--accents-7);
  --geist-link-color: var(--ds-blue-900);
  --geist-marketing-gray: var(--accents-1);
  --geist-code: var(--geist-foreground);
  --geist-error-light: #f33;
  --geist-error: red;
  --geist-error-dark: #e60000;
  --geist-text-gradient: linear-gradient(180deg,#fff,hsla(0,0%,100%,.75));
  --dropdown-box-shadow: 0 0 0 1px var(--accents-2);
  --dropdown-triangle-stroke: #333;
  --scroller-start: #000;
  --scroller-end: transparent;
  --header-border-bottom: 0 1px 0 0 hsla(0,0%,100%,.1);
  --header-import-flow-background: hsla(0,0%,7%,.8);
  --shadow-smallest: 0 0 0 1px var(--accents-2);
  --shadow-extra-small: 0 0 0 1px var(--accents-2);
  --shadow-small: 0 0 0 1px var(--accents-2);
  --shadow-medium: 0 0 0 1px var(--accents-2);
  --shadow-large: 0 0 0 1px var(--accents-2);
  --shadow-sticky: 0 0 0 1px var(--accents-2);
  --shadow-hover: 0 0 0 1px var(--geist-foreground);
  --portal-opacity: 0.75;
  --geist-violet-background: #291d3a;
  --geist-violet-background-secondary: #211830;
  --geist-violet-background-tertiary: #211830;
  --geist-background-rgb: 0, 0, 0;
  --geist-foreground-rgb: 255, 255, 255;
  --geist-console-header: #0f0310;
  --geist-console-purple: #8a63d2;
  --geist-console-text-color-default: var(--geist-foreground);
  --geist-console-text-color-blue: #3291ff;
  --geist-console-text-color-pink: #eb367f;
  --next-icon-border: #fff;
  --ds-shadow-border: #ffffff25;
  --ds-shadow-small: 0px 1px 2px rgba(0,0,0,.16);
  --ds-shadow-border-small: var(--ds-shadow-border), 0px 1px 2px rgba(0,0,0,.16);
  --ds-shadow-medium: 0px 2px 2px rgba(0,0,0,.32), 0px 8px 8px -8px rgba(0,0,0,.16);
  --ds-shadow-border-medium: var(--ds-shadow-border), 0px 2px 2px rgba(0,0,0,.32), 0px 8px 8px -8px rgba(0,0,0,.16);
  --ds-shadow-large: 0px 2px 2px rgba(0,0,0,.04), 0px 8px 16px -4px rgba(0,0,0,.04);
  --ds-shadow-border-large: var(--ds-shadow-border), 0px 2px 2px rgba(0,0,0,.04), 0px 8px 16px -4px rgba(0,0,0,.04);
  --ds-shadow-tooltip: var(--ds-shadow-border), 0px 1px 1px rgba(0,0,0,.02), 0px 4px 8px rgba(0,0,0,.04);
  --ds-shadow-menu: var(--ds-shadow-border), 0px 1px 1px rgba(0,0,0,.02), 0px 4px 8px -4px rgba(0,0,0,.04), 0px 16px 24px -8px rgba(0,0,0,.06);
  --ds-shadow-modal: var(--ds-shadow-border), 0px 1px 1px rgba(0,0,0,.02), 0px 8px 16px -4px rgba(0,0,0,.04), 0px 24px 32px -8px rgba(0,0,0,.06);
  --ds-shadow-fullscreen: var(--ds-shadow-border), 0px 1px 1px rgba(0,0,0,.02), 0px 8px 16px -4px rgba(0,0,0,.04), 0px 24px 32px -8px rgba(0,0,0,.06);
  --ds-focus-ring: 0 0 0 2px var(--ds-background-100), 0 0 0 4px var(--ds-focus-color);
  --ds-gray-500: hsla(var(--ds-gray-500-value),1);
  --ds-gray-600: hsla(var(--ds-gray-600-value),1);
  --ds-gray-700: hsla(var(--ds-gray-700-value),1);
  --ds-gray-800: hsla(var(--ds-gray-800-value),1);
  --ds-gray-900: hsla(var(--ds-gray-900-value),1);
  --ds-gray-1000: hsla(var(--ds-gray-1000-value),1);
}
.system, .system-theme, .system-theme .geist-disabled .geist-disabled-skip, .invert-theme {
  --geist-foreground: #fff;
  --geist-background: #000;
  --accents-8: #fafafa;
  --accents-7: #eaeaea;
  --accents-6: #999;
  --accents-5: #888;
  --accents-4: #666;
  --accents-3: #444;
  --accents-2: #333;
  --accents-1: #111;
  --geist-secondary-lighter: var(--accents-2);
  --geist-secondary-light: var(--accents-3);
  --geist-secondary: var(--accents-5);
  --geist-secondary-dark: var(--accents-7);
  --geist-link-color: var(--ds-blue-900);
  --geist-marketing-gray: var(--accents-1);
  --geist-code: var(--geist-foreground);
  --geist-error-light: #f33;
  --geist-error: red;
  --geist-error-dark: #e60000;
  --geist-text-gradient: linear-gradient(180deg,#fff,hsla(0,0%,100%,.75));
  --dropdown-box-shadow: 0 0 0 1px var(--accents-2);
  --dropdown-triangle-stroke: #333;
  --scroller-start: #000;
  --scroller-end: transparent;
  --header-border-bottom: 0 1px 0 0 hsla(0,0%,100%,.1);
  --header-import-flow-background: hsla(0,0%,7%,.8);
  --shadow-smallest: 0 0 0 1px var(--accents-2);
  --shadow-extra-small: 0 0 0 1px var(--accents-2);
  --shadow-small: 0 0 0 1px var(--accents-2);
  --shadow-medium: 0 0 0 1px var(--accents-2);
  --shadow-large: 0 0 0 1px var(--accents-2);
  --shadow-sticky: 0 0 0 1px var(--accents-2);
  --shadow-hover: 0 0 0 1px var(--geist-foreground);
  --portal-opacity: 0.75;
  --geist-violet-background: #291d3a;
  --geist-violet-background-secondary: #211830;
  --geist-violet-background-tertiary: #211830;
  --geist-background-rgb: 0, 0, 0;
  --geist-foreground-rgb: 255, 255, 255;
  --geist-console-header: #0f0310;
  --geist-console-purple: #8a63d2;
  --geist-console-text-color-default: var(--geist-foreground);
  --geist-console-text-color-blue: #3291ff;
  --geist-console-text-color-pink: #eb367f;
  --next-icon-border: #fff;
  --ds-shadow-border: 0 0 0 1px hsla(0,0%,100%,.145);
  --ds-shadow-small: 0px 1px 2px rgba(0,0,0,.16);
  --ds-shadow-border-small: var(--ds-shadow-border), 0px 1px 2px rgba(0,0,0,.16);
  --ds-shadow-medium: 0px 2px 2px rgba(0,0,0,.32), 0px 8px 8px -8px rgba(0,0,0,.16);
  --ds-shadow-border-medium: var(--ds-shadow-border), 0px 2px 2px rgba(0,0,0,.32), 0px 8px 8px -8px rgba(0,0,0,.16);
  --ds-shadow-large: 0px 2px 2px rgba(0,0,0,.04), 0px 8px 16px -4px rgba(0,0,0,.04);
  --ds-shadow-border-large: var(--ds-shadow-border), 0px 2px 2px rgba(0,0,0,.04), 0px 8px 16px -4px rgba(0,0,0,.04);
  --ds-shadow-tooltip: var(--ds-shadow-border), 0px 1px 1px rgba(0,0,0,.02), 0px 4px 8px rgba(0,0,0,.04);
  --ds-shadow-menu: var(--ds-shadow-border), 0px 1px 1px rgba(0,0,0,.02), 0px 4px 8px -4px rgba(0,0,0,.04), 0px 16px 24px -8px rgba(0,0,0,.06);
  --ds-shadow-modal: var(--ds-shadow-border), 0px 1px 1px rgba(0,0,0,.02), 0px 8px 16px -4px rgba(0,0,0,.04), 0px 24px 32px -8px rgba(0,0,0,.06);
  --ds-shadow-fullscreen: var(--ds-shadow-border), 0px 1px 1px rgba(0,0,0,.02), 0px 8px 16px -4px rgba(0,0,0,.04), 0px 24px 32px -8px rgba(0,0,0,.06);
  --ds-focus-ring: 0 0 0 2px var(--ds-background-100), 0 0 0 4px var(--ds-focus-color);
}

.theme-switcher_root__DrzBE {
  display: flex;
  box-shadow: var(--ds-shadow-border);
  border-radius: 9999px;
  height: 32px;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0;
  border: 0;
  margin: 0;
}
.popover_themeSwitcherComponent__KfdcZ {
  transform: translateX(8px);
}
.theme-switcher_root__DrzBE input {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  position: absolute;
}
.theme-switcher_root__DrzBE input:checked~label {
  box-shadow: 0 0 0 1px var(--ds-gray-400), 0 1px 2px 0 var(--ds-gray-alpha-100);
  color: var(--ds-gray-1000);
  background: var(--ds-background-100);
}
.theme-switcher_root__DrzBE label {
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  height: 32px;
  width: 32px;
  margin: 0;
  cursor: pointer;
  position: relative;
  transition: background .1s ease;
  color: var(--ds-gray-700);
}
.theme-switcher_root__DrzBE input:checked~label {
  box-shadow: 0 0 0 1px var(--ds-gray-400), 0 1px 2px 0 var(--ds-gray-alpha-100);
  color: var(--ds-gray-1000);
  background: var(--ds-background-100);
}
.theme-switcher_root__DrzBE label {
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  height: 32px;
  width: 32px;
  margin: 0;
  cursor: pointer;
  position: relative;
  transition: background .1s ease;
  color: var(--ds-gray-700);
}
// THEME BUTTOM 
*,:after,:before{--tw-border-spacing-x:0;--tw-border-spacing-y:0;--tw-translate-x:0;--tw-translate-y:0;--tw-rotate:0;--tw-skew-x:0;--tw-skew-y:0;--tw-scale-x:1;--tw-scale-y:1;--tw-scroll-snap-strictness:proximity;--tw-ring-offset-width:0px;--tw-ring-offset-color:#fff;--tw-ring-color:rgba(147,197,253,.5);--tw-ring-offset-shadow:0 0 #0000;--tw-ring-shadow:0 0 #0000;--tw-shadow:0 0 #0000;--tw-shadow-colored:0 0 #0000;}
.tailwind :is(.sr-only){position:absolute;width:1px;height:1px;padding:0;margin:-1px;overflow:hidden;clip:rect(0,0,0,0);white-space:nowrap;border-width:0;}
/*! CSS Used from: https://vercel.com/vercel-docs/_next/static/css/529fe1f45b9eda55.css */
.popover_themeSwitcher__HWbbC{padding:0 var(--half-gap);height:48px;display:flex;justify-content:space-between;align-items:center;transition:var(--transition);color:var(--ds-gray-900);}
@media (hover:hover){
.popover_themeSwitcher__HWbbC:hover{color:var(--ds-gray-1000);}
}
.popover_themeSwitcherComponent__KfdcZ{transform:translateX(8px);}
/*! CSS Used from: https://vercel.com/vercel-docs/_next/static/css/c87f91659127ba87.css */
*,:after,:before{box-sizing:border-box;}
::selection{background-color:var(--geist-selection);color:var(--geist-selection-text-color);}
svg{shape-rendering:crispEdges;}
svg path{shape-rendering:geometricprecision;}
/*! CSS Used from: https://vercel.com/vercel-docs/_next/static/css/40a363159710410c.css */
.theme-switcher_root__DrzBE{display:flex;box-shadow:var(--ds-shadow-border);border-radius:9999px;height:32px;width:-moz-fit-content;width:fit-content;padding:0;border:0;margin:0;}
.theme-switcher_root__DrzBE input{-webkit-appearance:none;-moz-appearance:none;appearance:none;padding:0;margin:0;outline:none;position:absolute;}
.theme-switcher_root__DrzBE input:checked~label{box-shadow:0 0 0 1px var(--ds-gray-400),0 1px 2px 0 var(--ds-gray-alpha-100);color:var(--ds-gray-1000);background:var(--ds-background-100);}
.theme-switcher_root__DrzBE input:checked~label svg{color:var(--accents-8)!important;}
.theme-switcher_root__DrzBE label{border-radius:9999px;display:flex;align-items:center;justify-content:center;background:none;height:32px;width:32px;margin:0;cursor:pointer;position:relative;transition:background .1s ease;color:var(--ds-gray-700);}
@media (hover:hover){
.theme-switcher_root__DrzBE label:hover{color:var(--ds-gray-1000)!important;}
}